<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>

  <body>
    <h1>Movies</h1>

    <ul id="movies">
      <% movies.each do |hash| %>
        <li><a href="/movies/<%= hash["id"] %>"><%= hash["title"] %></a></li>
      <% end %>
    </ul>
  </body>
</html>
